*{
    margin: 0;
    padding: 0;
}
#hidden{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    display: none;
}
#hidden:target{
    display: block;
}
#hidden:target ~ .box{
    top:150px;
    transition: all .3s;
    transition-delay: .2s;
}
.box{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top: 25px;
}
.destaqueimg{
    width: 100%;
    
}
.contatoimg{
    width: 100%;
    position: absolute;
}
#close{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    background-color: #A52A2A;
    width: 40px;
    height: 40px;
    text-align: center;
    right: 0;
}
#close:hover{
    opacity: .6;
}
